$colorGradient: linear-gradient(221deg, #2d2459, #2c1f4a, #302b70);
$color-wh: #d9d7d8;
//#E6E1E5
$color-selago: #e5e1e6;
$color-White: #ffffff;
$Light-Slate-Blue: #bea1fd;
$color-Medium-Blue: #7f57db;
$color-Persian-Indigo: #371c75;
$shadow-rgba-0p-3px-8px: rgba(0, 0, 0, 0.24) 0px 3px 8px;

//BEA1FD
//#7F57DB
